.container {
  position: absolute;
  left: 1em;
  top: 1em;
  font-size: 1em;
  width: fit-content;
  border: 2px solid #bada55;
}
.header {
  font-family: 'Chelsea Market', cursive;
  font-size: 2em;
  margin: 0;
}

.lists {
  user-select: none;
  list-style: none;
  padding-left: 0px;
  margin-bottom: 10px;
}
