// ITEMS
.items-container {
  position: absolute;
  top: 115px;
  right: 0;
  width: 505px;
  height: 630px;

  .new-item-form {
    font-size: 0.8em;
    
    .form-row {
      margin-left: 0;
      margin-right: 0;
      
      .new-item-date {
        width: 8em;
      }
      
      .new-item-priority {
        width: 9em;
      }
    }
  }

  .items {
    list-style: none;
    user-select: none;
    margin-bottom: 0px;

    .item {
      font-family: 'Nanum Pen Script', cursive;
      font-size: 1.5em;
      display: flex;

      .item-title {
        flex-grow: 1;
        .done {
          text-decoration: line-through;
        }
      }

      .due-date {
        margin-right: 1em;
      }

      .item-controls {
        font-size: 0.7em;
        margin-right: 1em;
        svg {
          margin-right: 1em;
        }
      }

      .item-edit {
        .item-edit-name {
          width: calc(9.8rem + 1px);
        }

        .item-edit-priority {
          font-size: 1rem;
          width: 6em;
        }

        .item-edit-date {
          width: 3.5em;
        }

        .item-edit-submit {
          height: fit-content;
          margin-right: 1em;
        }
      }
    }
  }

  // Priority Headers
  .priority {
    display: block;
    text-align: center;
    text-transform: capitalize;
  }
  .priority-high {
    color: crimson;
  }
  .priority-medium {
    color: goldenrod;
  }
  .priority-low {
    color: seagreen;
  }
}
