.container {
  font-weight: 300;
  display: flex;
  position: relative;
  margin-bottom: 0.4em;
}

.name {
  margin-left: 0.5em;
  font-size: 1.1em;
  font-family: 'Pangolin', cursive;
  font-variant: small-caps;
}

.wrapper:hover {
  cursor: pointer;
  color: #bada55;
}

.container:nth-child(12) {
  margin-right: 7em;
}

.container:nth-child(13) {
  margin-right: 5.5em;
}

.container:nth-child(14) {
  margin-right: 4em;
}

.confirmBtn:hover {
  background-color: #d32f2f;
}

.cancelBtn:hover {
  background-color: #bada55;
}
