// BACKGROUND

body {
  height: 100vh;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, .6) 0%,
    rgba(253, 187, 45, .6) 100%
  );
  //background: rgb(186,218,85);
  //background: linear-gradient(0deg, rgba(186,218,85,.69) 0%, rgba(255,255,255,1) 150%);
}

.notebook {
  position: absolute;
  width: 1388px;
  height: 949px;
  background: url("../img/notebook.jpg") no-repeat;
  //background: url("../img/notebook.webp") no-repeat;
  background-size: 100% 100%;
  box-shadow: 3px 3px 10px black;
}

// CONTENT
.content {
  position: absolute;
  width: 1005px;
  height: 745px;
  top: 130px;
  left: 170px;

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover,
  i:hover,
  .list-name:hover,
  .item-title:hover {
    color: $primary;
    cursor: pointer;
  }
}
