.test {
    input {
      display: none;

      & + label:before {
        content: "";
        font-family: 'FontAwesome';
      }
      &:checked + label:before {
        content: "";
        font-family: 'FontAwesome';
      }
    }
  }
