// TODOS
.todo-container {
  position: absolute;
  top: 120px;
  right: 10px;
  width: 470px;
  height: 480px;
  //background: rgba(218, 165, 32, 0.445);

  ul {
    list-style: none;
    user-select: none;
    margin-bottom: 0px;

    li {
      font-family: "Nanum Pen Script", cursive;
      font-size: 1.5em;

      .item-title.done {
        text-decoration: line-through;
      }

      .due-date {
        float: right;
        margin-right: 20px;
        b {
          color: red;
        }
      }

      i {
        font-size: 0.7em;
        line-height: 2em;
        float: right;
        margin-right: 20px;
      }
    }
  }
  .priority {
    display: none;
    text-align: center;
  }
  .priority-high {
    color: red;
  }
  .priority-med {
    color: goldenrod;
  }
  .priority-low {
    color: green;
  }
}
