@import "custom";
@import "~bootstrap/scss/bootstrap";

// Fonts
//font-family: 'Fredericka the Great', cursive;
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
//font-family: 'Nanum Pen Script', cursive;
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
//font-family: 'Chelsea Market', cursive;
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
//font-family: 'Pangolin', cursive;
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

.notebook {
  display: flex;
  //width: 100%;
  height: 100vh;
  background: url("../img/notebook.jpg") no-repeat;
  background-size: contain;
}

.content {
  position: absolute;
  top: 10vw;
  bottom: 7vw;
  left: 13vw;
  right: 16vw;
  display: flex;
  //background: #bbda5569;

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover, i:hover,
  .item-check:hover, //should no longer need
  .item-title:hover {
    color: $primary;
    cursor: pointer;
  }

  // HEADER
  .header {
    position: absolute;
    right: 50px;

    .title {
      font-family: "Fredericka the Great", cursive;
      font-size: 80px;
      //color: $primary;
    }

    .item-header,
    .duedate-header {
      position: absolute;
      top: 94px;
      right: 300px;
    }

    .duedate-header {
      right: 52px;
    }
  }

  // LISTS
  .list-container {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 420px;
    height: 400px;
    font-size: 1.2em;
    //background: rgba(149, 255, 250, 0.5);

    .lists-header {
      font-family: "Chelsea Market", cursive;
      font-size: 2em;
    }

    .lists {
      display: flex;
      flex-direction: column;

      .list {
        padding: 5px;

        i:first-child {
          font-weight: 400;
        }

        .list-name {
          margin-left: 5px;
          font-size: 1.1em;
          font-family: "Pangolin", cursive;
          font-variant: small-caps;
        }

        .list-controls {
          font-size: 0.7em;
          line-height: 2em;
          float: right;
          margin-right: 20px;
        }

        .list-10 {
          margin-right: 150px;
        }

        .list-11 {
          margin-right: 110px;
        }

        .list-12 {
          margin-right: 70px;
        }

        i.active {
          font-weight: 900;
        }
      }
    }

    #new-list-btn {
      //background: none;
    }
  }

  // TODOS
  .todo-container {
    position: absolute;
    top: 120px;
    right: 10px;
    width: 470px;
    height: 480px;
    //background: rgba(218, 165, 32, 0.445);

    ul {
      list-style: none;

      li {
        //text style strike-through when checked
        font-family: "Nanum Pen Script", cursive;
        font-size: 1.5em;

        .due-date {
          float: right;
          margin-right: 20px;
        }

        i {
          font-size: 0.7em;
          line-height: 2em;
          float: right;
          margin-right: 20px;
        }
      }
      .priority {
        display: block;
        text-align: center;
      }
      .priority-high {
        color: red;
      }
      .priority-med {
        color: goldenrod;
      }
      .priority-low {
        color: green;
      }
    }
  }

  // CONTROLS
  .controls {
    position: absolute;
    right: 10px;
    bottom: 10px;

    #new-item-btn {
      float: right;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      box-shadow: 2px 3px 10px rgba(82, 82, 82, 0.5);
    }
  }

  // FOOTER
  .footer {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 0.8em;
  }
}

// codepen.io/bbodine1/pen/novBm
/* .squaredThree */
.squaredThree {
  display: inline;
  width: 20px;
  position: relative;
  top: 3px;
  //margin: 20px auto;
  margin-right: 5px;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5),
      0px 1px 0px rgba(255, 255, 255, 0.4);
    &:after {
      content: "";
      width: 14px;
      height: 8px;
      position: absolute;
      top: 5px;
      left: 3px;
      border: 3px solid $primary;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type="checkbox"] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}
/* end .squaredThree */
